src/main/resources/ping.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.josealbertodelval.com/beans/ping" 
xmlns:tns="http://www.josealbertodelval.com/beans/ping" 
elementFormDefault="qualified">


	<xs:element name="GetPingIpRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ipNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetPingResultResponse">
        <xs:complexType>
            <xs:sequence >
                <xs:element name="result" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>